# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/helium-plus-plus/build/.vs
/helium-plus-plus/build/CMakeFiles
/helium-plus-plus/build/helium-plus-plus/CMakeFiles
/helium-plus-plus/build/helium-plus-plus/Debug
/helium-plus-plus/build/helium-plus-plus/helium-plus-plus.dir
/helium-plus-plus/build/helium-plus-plus/vcpkg_installed/x64-windows
/helium-plus-plus/build/x64
/helium-plus-plus/build/helium-plus-plus/vcpkg_installed/x64-windows-static
/helium-plus-plus/build/helium-plus-plus/vcpkg_installed/x64-windows-static
